<%- include('./partials/head.ejs') %>
<body>
    <header>
        <div class="top-cont">
            <h1>Jin's Blog</h1>
        </div>
    </header>
    <main>
        <ul>
            <% for(let i = bpost.length - 1; i >= 0; i--) { %>
                <li>
                    <div>
                        <h1><%= bpost[i].title %></h1>
                        <h3><%= bpost[i].date %></h3>
                    </div>
                    <img src="<%= bpost[i].image %>">
                    <p><%- bpost[i].content %></p>
                </li>
            <% } %>
        </ul>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>